$colorGreyLight: #f9f9f9;
$colorGreyMid: #dddddd;
$colorGreyDark: #bdbdbd;
$colorBlue: #4e8ffe;
$colorGreyVeryDark: #444444;

* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
section {
    * {
        border: solid 1px $colorGreyDark;
    }
    .calculator {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1.2fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 15px;
        column-gap: 10px;
        width: 450px;
        height: 500px;
        padding: 10px;
        overflow-y: hidden;
        * {
            font-size: 1.5rem;
        }
        .screen {
            grid-column-start: 1;
            grid-column-end: 5;
            display: flex;
            flex-direction: column;
            p, input {
                margin: 0;
                border: none;
            }
            p {
                font-size: 1.1rem;
                padding: 3px;
                color: $colorGreyVeryDark;
                height: 27px !important;
            }
            input {
                color: black;
                padding: 10px;
            }
            input:hover {
                background-color: $colorGreyLight;
            }
        }
        .btn {
            cursor: pointer;
            &--operator {
                background-color: $colorGreyMid;
            }
            &--num, &--clear, &--dot {
                background-color: $colorGreyLight;
            }
            &--equal {
                background-color: $colorBlue;
                color: $colorGreyLight;
                grid-row-start: 3;
                grid-row-end: 7;
                grid-column-start: 4;
            }
        }
        .btn:hover {
            box-shadow: inset 0 0 10px 0 #fff, 0 0 10px 0 $colorGreyDark;
            z-index: 50;
        }
    }
}