$colorGreyLight: #f9f9f9;
$colorGreyMid: #dddddd;
$colorGreyDark: #bdbdbd;
$colorBlue: #4e8ffe;

* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
section {
    display: flex;
    justify-content: center;
    align-content: center;
    * {
        border: solid 1px $colorGreyDark;
    }
    div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 15px;
        column-gap: 10px;
        width: 450px;
        height: 500px;
        padding: 10px;
        * {
            font-size: 1.5rem;
        }
        input {
            grid-column-start: 1;
            grid-column-end: 5;
            color: black;
            padding: 10px;
        }
        input:hover{
            box-shadow: 0 0 10px 0 $colorGreyLight, 0 0 10px 0 $colorGreyDark;
        }
        .btn {
            cursor: pointer;
            &--operator {
                background-color: $colorGreyMid;
            }
            &--num, &--clear {
                background-color: $colorGreyLight;
            }
            &--equal {
                background-color: $colorBlue;
                color: $colorGreyLight;
                grid-row-start: 3;
                grid-row-end: 7;
                grid-column-start: 4;
            }
        }
        .btn:hover {
            box-shadow: inset 0 0 10px 0 #fff, 0 0 10px 0 $colorGreyDark;
            z-index: 50;
        }
    }
}