$colorBlueDark: #00274c;
$colorBlueMid: #385277;
$colorPink: #d4948a;
$colorBlue: #265396;
$colorPurple: #ad7592;
$colorFormBG: #beb7cce1;
$colorBG: #97847e;

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    overflow: hidden;
}
.bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient($colorPurple, $colorPink, $colorBG 95%);
    background-color: red;
    .circle {
        position: absolute;
        border-radius: 50%;
        filter: blur(50px);
        width: 50px;
        height: 50px;
    }
    .pink {
        background-color: $colorPink;
    }
    .blue {
        background-color: $colorBlue;
    }
    .purple {
        background-color: $colorPurple;
    }
    .circle_1 {
        left: 500px;
        top: -100px;
        width: 120px;
        height: 120px;
    }
    .circle_2 {
        right: 550px;
        top: -120px;
        width: 250px;
        height: 250px;
    }
    .circle_3 {
        right: 300px;
        top: -220px;
        width: 250px;
        height: 250px;
    }
    .circle_4 {
        left: 200px;
        top: 0;
        width: 300px;
        height: 300px;
    }
    .circle_5 {
        left: 600px;
        top: 100px;
        width: 50px;
        height: 50px;
    }
    .circle_6 {
        right: 600px;
        top: 70px;
        width: 200px;
        height: 200px;
    }
    .circle_7 {
        right: 450px;
        top: 90px;
        width: 100px;
        height: 100px;
    }
    .circle_8 {
        right: 100px;
        top: 180px;
        width: 400px;
        height: 400px;
    }
    .circle_9 {
        left: 450px;
        top: 280px;
        width: 100px;
        height: 100px;
    }
    .circle_10 {
        left: 750px;
        top: 480px;
        width: 200px;
        height: 200px;
    }
    .circle_11 {
        right: 350px;
        top: 480px;
        width: 200px;
        height: 200px;
    }
    .circle_12 {
        left: 500px;
        top: 480px;
        width: 200px;
        height: 200px;
    }
    .circle_13 {
        left: 200px;
        top: 480px;
        width: 200px;
        height: 200px;
    }
}
section {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: fit-content;
    transform: translate(-50%, -50%);
    .profile_container {
        position: absolute;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background-color: $colorBlueDark;
        left: 50%;
        transform: translate(-50%, -50%);
        svg {
            fill: #fff;
            stroke: $colorBlueDark;
            stroke-width: 1px;
        }
    }
    form, form .fields, form .fields .field, form .form_extra {
        display: flex;
    }
    form, form .fields {
        flex-direction: column;
    }
    form .fields, form .form_extra {
        justify-content: space-between;
        height: 140px;
    }
    form {
        padding-top: 140px;
        height: 420px;
        background-color: $colorFormBG;
        border-radius: 40px;
        .fields {
            padding: 0 50px;
            .field {
                height: 60px;
                width: 100%;
                margin: 0 auto;
                .icon_container {
                    position: relative;
                    width: 60px;
                    height: inherit;
                    padding: 15px;
                    background-color: $colorBlueDark;
                }
                input:not([type=submit]) {
                    background-color: $colorBlueMid;
                    height: 100%;
                    width: 100%;
                    margin: 0;
                    padding: 20px;
                    color: #fff;
                    font-size: 1.3rem;
                    border: none;
                    outline: none;
                    box-shadow: none;
                }
                input:not([type=submit])::-webkit-input-placeholder {
                    color: $colorFormBG;
                }
            }
        }
        .form_extra {
            align-content: center;
            padding: 0 60px;
            * {
                color: $colorBlueDark;
                text-decoration: none;
            }
            *:visited {
                text-decoration: none;
            }
            .left, .right {
                display: flex;
                justify-content: center;
            }
            .left {
                * {
                    margin: auto 10px;
                }
                input {
                    transform: scale(1.5);
                    accent-color: $colorBlueDark;
                    margin: auto;
                }
            }
            .right {
                * {
                    margin: auto 0;
                }
            }
        }
    }
    input[type=submit] {
        position: absolute;
        left: 50px;
        right: 50px;
        height: 50px;
        background: linear-gradient(#00000000, $colorFormBG 35%);
        border: none;
        border-radius: 0 0 40px 40px;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
    }
    input:hover {
        color: $colorBlueDark;
    }
}