@font-face {
  font-family: D-DIN-Medium;
  src: url("../fonts/D-DIN.otf");
}

@font-face {
  font-family: D-DIN-Bold;
  src: url("../fonts/D-DIN-Bold.otf");
}

@font-face {
  font-family: D-DIN-Italic;
  src: url("../fonts/D-DIN-Italic.otf");
}

@font-face {
  font-family: D-DIN-Condensed;
  src: url("../fonts/D-DINCondensed.otf");
  font-weight: 400;
}

@font-face {
  font-family: D-DIN-Condensed-Bold;
  src: url("../fonts/D-DINCondensed-Bold.otf");
}

@font-face {
  font-family: D-DIN-XP;
  src: url("../fonts/D-DINExp.otf");
}

@font-face {
  font-family: D-DIN-XP-Bold;
  src: url("../fonts/D-DINExp-Bold.otf");
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  text-decoration: none;
  color: white;
  font-family: D-DIN-XP-Bold;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

*:visited {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100vw;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 110px;
  z-index: 2;
}

header .bg {
  height: 100%;
  width: 100%;
  background-color: red;
}

header .logo_container {
  position: absolute;
  left: 110px;
  top: 32px;
  width: 210px;
}

header .logo_container svg {
  fill: white;
}

header .navs {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 356px;
  top: 45px;
  -webkit-column-gap: 26px;
          column-gap: 26px;
}

header .navs .nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scaleX(0.97);
          transform: scaleX(0.97);
  cursor: pointer;
}

header .navs .nav_container .nav_bottom_line {
  position: absolute;
  top: 99%;
  right: 0;
  bottom: 0;
  left: 0;
}

header .navs .nav_container a {
  font-size: .8rem;
  font-weight: normal;
}

header .right_nav {
  position: absolute;
  right: 0;
  top: 45px;
}

header .right_nav a {
  position: absolute;
  right: 113px;
  font-size: .8rem;
  font-weight: normal;
}

.hamburger_menu {
  position: fixed;
  right: 58px;
  top: 47px;
  height: 10px;
  z-index: 2;
  border: none;
  background: none;
  cursor: pointer;
}

.hamburger_menu .bar {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

.hamburger_menu, .hamburger_menu::before, .hamburger_menu::after {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.hamburger_menu::before, .hamburger_menu::after, .hamburger_menu .bar {
  content: '';
  position: absolute;
  left: 50%;
  width: 16px;
  height: 2px;
  background-color: #fff;
}

.hamburger_menu::before, .hamburger_menu::after {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  pointer-events: none;
}

.hamburger_menu::before {
  top: 0;
}

.hamburger_menu::after {
  bottom: 0;
}

.hamburger_menu.is-active::before {
  -webkit-transform: translate(-8px, 2px) rotate(45deg);
          transform: translate(-8px, 2px) rotate(45deg);
}

.hamburger_menu.is-active::after {
  -webkit-transform: translate(-8px, -6px) rotate(-45deg);
          transform: translate(-8px, -6px) rotate(-45deg);
}

.hamburger_menu.is-active .bar {
  opacity: 0;
}

.menu_container {
  position: fixed;
  background-color: #000;
  top: 0;
  right: -350px;
  bottom: 0;
  width: 350px;
  z-index: 2;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: .7s;
          transition-duration: .7s;
}

.menu_container ul {
  position: absolute;
  top: 75px;
  right: 50px;
  margin: 0;
}

.menu_container ul li {
  list-style: none;
  height: 32px;
  width: 250px;
  text-align: end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border-bottom: solid 0.4px #ffffff33;
  margin-top: 10px;
}

.menu_container ul li a {
  font-family: D-DIN;
  font-weight: 600;
}

section {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .background {
  margin-top: 2px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 400vh;
  z-index: -1;
}

section .background .one {
  background-image: url("../media/Launch_Page_Starlink1_vertical_18_DESKTOP_209c4e50a1.jpg");
}

section .background .two {
  background-image: url("../media/DESKTOP_HOMEPAGE_091c26421c.jpg");
}

section .background .three {
  background-image: url("../media/Homepage_Desktop_5ebdeb0c6c.jpg");
}

section .background .four {
  background-image: url("../media/S20_Chopstick_Stack_Desktop_0c016b49ec.jpg");
}

section .background .img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

section .page {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  margin-left: -5px;
  position: relative;
}

section .page .arrow {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 40px;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: arrow-anim 2.5s ease-in-out forwards infinite;
          animation: arrow-anim 2.5s ease-in-out forwards infinite;
}

section .page .arrow svg {
  margin: auto;
  fill: #fff;
  width: 100%;
  padding: 0;
  margin: 0;
}

@-webkit-keyframes arrow-anim {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(20px);
            transform: translateX(-50%) translateY(20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(20px);
            transform: translateX(-50%) translateY(20px);
  }
}

@keyframes arrow-anim {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(20px);
            transform: translateX(-50%) translateY(20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(20px);
            transform: translateX(-50%) translateY(20px);
  }
}

section .page .container {
  position: absolute;
  left: 115px;
  bottom: 115px;
}

section .page .container p {
  font-family: D-DIN-Medium;
  font-size: 1.25rem;
}

section .page .container h2 {
  margin: 0;
  font-size: 2.77rem;
  font-family: D-DIN-XP-Bold;
  margin-top: -15px;
  margin-bottom: 30px;
  width: 480px;
}

section .page .container .btn_container {
  position: relative;
  border: solid 2px white;
  width: 164px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

section .page .container .btn_container .btn_bg {
  position: absolute;
  background-color: #fff;
  top: 100%;
  right: 0;
  bottom: 1px;
  left: 1px;
  z-index: 0;
}

section .page .container .btn_container a {
  margin: auto;
  text-align: center;
  font-size: 13px;
  z-index: 1;
}

footer {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer nav {
  width: 52%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

footer nav * {
  font-size: 11.6px;
}

footer nav p {
  font-family: D-DIN-Medium;
  color: #ffffff66;
}

footer nav a {
  font-family: D-DIN-Medium;
  font-weight: 600;
}
/*# sourceMappingURL=index.css.map */