* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
  background-color: #aa9aff;
}

section, section form, section .tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section form .field, section .tasks .task {
  display: -ms-grid;
  display: grid;
}

.rounded {
  border-radius: 10px;
}

.no_border {
  border: none;
}

section {
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 700px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #f8f9fa;
  padding-bottom: 10px;
  -webkit-box-shadow: 10px 10px 17px 0 #8066ff, -10px -10px 17px 0 #bfb3ff, 0 0 20px 17px #00000033;
          box-shadow: 10px 10px 17px 0 #8066ff, -10px -10px 17px 0 #bfb3ff, 0 0 20px 17px #00000033;
}

section form {
  row-gap: 10px;
  background: none;
  padding: 20px;
  width: 100%;
  margin: auto;
}

section form .field {
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 5fr;
      grid-template: 1fr / 1fr 5fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

section form .field label {
  font-weight: bold;
}

section form .field label::-moz-selection {
  background-color: #61b5ff;
}

section form .field label::selection {
  background-color: #61b5ff;
}

section form .field input, section form .field textarea {
  width: auto;
  outline: none;
  padding: 5px;
  -webkit-box-shadow: 0 0 10px 0 #00000011;
          box-shadow: 0 0 10px 0 #00000011;
}

section form .field textarea {
  height: 60px;
  min-height: 60px;
  max-height: 100px;
  resize: none;
}

section form .field input:hover, section form .field textarea:hover {
  -webkit-box-shadow: 0 0 10px 0 #00000011, inset 0 0 0 1px #61b5ff;
          box-shadow: 0 0 10px 0 #00000011, inset 0 0 0 1px #61b5ff;
}

section .form_add {
  background-color: #aa9aff;
  -webkit-box-shadow: 0 5px 10px 0 #aa9aff;
          box-shadow: 0 5px 10px 0 #aa9aff;
  height: 30px;
  width: 150px;
  margin: 0 auto 15px auto;
  border-radius: 15px;
  border: solid 1px #fff;
  font-weight: bolder;
  cursor: pointer;
}

section .form_add:hover {
  background-color: #fff;
  border: solid 2px #aa9aff;
  color: #aa9aff;
}

section .form_edit {
  background-color: #61b5ff;
  -webkit-box-shadow: 0 5px 10px 0 #61b5ff;
          box-shadow: 0 5px 10px 0 #61b5ff;
  height: 30px;
  width: 150px;
  margin: 0 auto 15px auto;
  border-radius: 15px;
  border: solid 1px #fff;
  font-weight: bolder;
  cursor: pointer;
}

section .form_edit:hover {
  background-color: #fff;
  border: solid 2px #61b5ff;
  color: #61b5ff;
}

section .tasks {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 10px;
  width: 600px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px auto;
  padding: 0;
}

section .tasks .task {
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1.5fr 1fr 4fr 0.4fr 0.4fr;
      grid-template: 1fr / 1.5fr 1fr 4fr 0.4fr 0.4fr;
  border-radius: 5px;
  background-color: #f8fafb;
  width: inherit;
  height: 30px;
  padding: 0 0 0 10px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  position: relative;
}

section .tasks .task .bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f8fafb;
  z-index: -1;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

section .tasks .task p {
  text-align: left;
  vertical-align: middle;
  padding: 0;
  margin: auto auto auto 0;
  font-size: 0.8rem;
  pointer-events: none;
}

section .tasks .task p::-moz-selection {
  background-color: #ffc0cb;
}

section .tasks .task p::selection {
  background-color: #ffc0cb;
}

section .tasks .task p.title {
  font-weight: bold;
}

section .tasks .task button {
  outline: none;
  padding: 0;
  height: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  cursor: pointer;
  background: none;
}

section .tasks .task button * {
  margin: 0;
  height: 30px;
  pointer-events: none;
}

section .tasks .task .del:hover svg {
  -webkit-filter: drop-shadow(0 0 1px #fd7564);
          filter: drop-shadow(0 0 1px #fd7564);
  padding: 1px;
}

section .tasks .task .edit svg {
  padding: 1px;
}

section .tasks .task .edit:hover svg {
  -webkit-filter: drop-shadow(0 0 1px #61b5ff);
          filter: drop-shadow(0 0 1px #61b5ff);
  padding: 1px;
}

section .tasks .header {
  pointer-events: none;
}

section .tasks .header p {
  font-weight: 900;
  text-align: center;
  color: #f8aa4c;
}

section .tasks .header p::-moz-selection {
  background-color: #fd7564;
  color: #fff;
}

section .tasks .header p::selection {
  background-color: #fd7564;
  color: #fff;
}

section .tasks .task:hover {
  margin-top: -5px;
  margin-bottom: 5px;
}

section .tasks .task:hover .bg {
  background-color: #00000088;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}
/*# sourceMappingURL=index.css.map */