@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #222222;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

*:visited {
  text-decoration: none;
}

body {
  background-color: #f1f5f8;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  padding: 0;
  margin: 0;
}

header, .wrapper, nav, .form_search, .loading_bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav, .form_search, .loading_bars {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form_search, .cocktail {
  -webkit-box-shadow: 1.5px 5px 3px 0 #00000080;
          box-shadow: 1.5px 5px 3px 0 #00000080;
}

header {
  width: 100%;
  height: 78px;
  -webkit-box-shadow: 1.5px 6px 3px 0 #222222a9;
          box-shadow: 1.5px 6px 3px 0 #222222a9;
  background-color: #ffffff;
}

header .wrapper {
  width: 1170px;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .wrapper a, header .wrapper nav {
  margin: auto 0;
}

header .wrapper img {
  width: 192px;
  margin-top: 3px;
}

header .wrapper nav {
  width: 179px;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

header .wrapper nav a {
  font-size: 19px;
  text-align: center;
  letter-spacing: 2px;
}

.form_search {
  background-color: #ffffff;
  width: 640px;
  height: 145px;
  margin: 98px auto 97px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form_search * {
  margin: 0 auto;
  width: 560px;
}

.form_search label {
  color: #476a2e;
  font-weight: 700;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.form_search input {
  border: none;
  background-color: #f1f5f8;
  border-radius: 5px;
  height: 40px;
  padding: 16px 8px;
  font-size: 18px;
  font-weight: 500;
}

h1, .no_data {
  font-size: 31.5px;
  font-weight: bolder;
  letter-spacing: 5px;
  margin: 0 auto;
  text-align: center;
}

.loading_bars {
  margin: 100px auto;
  height: 100px;
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loading_bars * {
  background-color: #476a2e;
  height: 100%;
  width: 50px;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.loading_bars .loading_bar_1 {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}

.loading_bars .loading_bar_2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.loading_bars .loading_bar_3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.cocktails {
  margin: 58px auto;
  width: 1185px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: auto auto auto;
      grid-template: auto / auto auto auto;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  row-gap: 63px;
}

.cocktails .cocktail {
  background-color: #ffffff;
  width: 368px;
  height: 505px;
  margin: 0 auto;
  border-radius: 4px;
}

.cocktails .cocktail picture img {
  width: 100%;
  height: 320px;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.cocktails .cocktail .content {
  padding: 15px 0 0 23.5px;
}

.cocktails .cocktail .content * {
  margin: 6px 0;
}

.cocktails .cocktail .content h2 {
  font-size: 32px;
  letter-spacing: 5px;
}

.cocktails .cocktail .content h3 {
  font-weight: 600;
  letter-spacing: 4px;
  font-size: 18px;
}

.cocktails .cocktail .content p {
  color: #afafaf;
  margin-bottom: 12px;
  font-size: 14px;
}

.cocktails .cocktail .content a {
  background-color: #476a2e;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  padding: 7px 8px;
  color: #ffffff;
  font-weight: 200;
  letter-spacing: 5px;
  border-radius: 5px;
}

.cocktails .cocktail .content a:hover {
  background-color: #d4e6a5;
  color: #afafaf;
}

.cocktails .cocktail:hover {
  -webkit-box-shadow: 5px 10px 3px 0 #00000060;
          box-shadow: 5px 10px 3px 0 #00000060;
}

@media only screen and (max-width: 1370px) {
  header .wrapper {
    width: 85%;
  }
  .cocktails {
    width: 85%;
  }
}

@media only screen and (max-width: 1271px) {
  .cocktails {
    -ms-grid-rows: auto;
    -ms-grid-columns: auto auto;
        grid-template: auto / auto auto;
    -webkit-column-gap: 1.5em;
            column-gap: 1.5em;
  }
  .cocktails .cocktail {
    width: 98%;
  }
}

@media only screen and (max-width: 835px) {
  .cocktails {
    -ms-grid-rows: auto;
    -ms-grid-columns: auto;
        grid-template: auto / auto;
  }
  .cocktails .cocktail {
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */