$colorBG: #f1f5f8;
$colorWhite: #ffffff;
$colorGreen: #476a2e;
$colorGrey: #afafaf;
$ShadowLight: 1.5px 5px 3px 0 #00000080;
.form_search {
    display: flex;
    background-color: $colorWhite;
    width: 640px;
    height: 145px;
    margin: 98px auto 97px auto;
    flex-direction: column;
    justify-content: center;
    * {
        margin: 0 40px;
    }
    label {
        color: $colorGreen;
        font-weight: 700;
        letter-spacing: 4px;
        margin-bottom: 20px;
    }
    input {
        border: none;
        background-color: $colorBG;
        border-radius: 5px;
        height: 40px;
        padding: 16px 8px;
        font-size: 18px;
        font-weight: 500;
    }
}
.form_search, .cocktail {
    box-shadow: $ShadowLight;
}
.cocktails {
    margin: 58px auto;
    width: 1185px;
    display: grid;
    grid-template: auto / auto auto auto;
    column-gap: 1em;
    row-gap: 63px;
    .cocktail {
        background-color: $colorWhite;
        width: 368px;
        height: 505px;
        margin: 0 auto;
        border-radius: 4px;
        picture {
            img {
                width: 100%;
                height: 320px;
                object-fit: cover !important;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }
        }
        .content {
            padding: 15px 0 0 23.5px;
            * {
                margin: 6px 0;
            }
            h2 {
                font-size: 32px;
                letter-spacing: 5px;
            }
            h3 {
                font-weight: 600;
                letter-spacing: 4px;
                font-size: 18px;
            }
            p {
                color: $colorGrey;
                margin-bottom: 12px;
                font-size: 14px;
            }
        }
    }
    .cocktail:hover {
        box-shadow: 5px 10px 3px 0 #00000060;
    }
}
@media only screen and (max-width: 1370px) {
    .cocktails {
        width: 85%;
    }
}
@media only screen and (max-width: 1271px) {
    .cocktails {
        grid-template: auto / auto auto;
        column-gap: 1.5em;
        .cocktail {
            width: 98%;
        }
    }
}
@media only screen and (max-width: 835px) {
    .cocktails {
        grid-template: auto / auto;
        .cocktail {
            width: 100%;
        }
    }
}
@media only screen and (max-width: 753px) {
    .form_search {
        width: 85%;
    }
}